{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "no-undef": [
      1
    ]
  },
  "globals": {
    "HTMLButtonElement": true,
    "HTMLInputElement": true,
    "HTMLFormElement": true,
    "setTimeout": true
  }
}
